.team {
    position: relative;
}

.team.vs {
    justify-content: center;
}

.team .name, .team .delete {
    color: var(--dark-blue);
    font-size: 1.25rem;
    text-decoration: none;
}

.team .delete {
    position: absolute;
    right: 1.5rem;
}
