:root {
    --black: #222222;
    --white: #FFFFFF;

    --purple: rgb(155, 105, 188);
    --blue: rgb(83, 127, 193);
    --dark-blue: rgb(27, 46, 75);
    --red: rgb(164, 36, 59);
    --green: rgb(99, 163, 117);
}
