<p style="color: green"><%= notice %></p>

<h1>Match results</h1>

<div id="match_results">
  <% @match_results.each do |match_result| %>
    <%= render match_result %>
    <p>
      <%= link_to "Show this match result", match_result %>
    </p>
  <% end %>
</div>

<%= link_to "New match result", new_match_result_path %>
